@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap');

body {
    /* Disable text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 0;
    /* Reset margin */
    padding: 0;
    /* Reset padding */
}

.body {
    /* Full screen */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    /* Styles */
    background: #282a2c;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.hyperlink {
    border: none;
    background: transparent;
    color: rgb(0, 153, 255);
}

.hyperlink:hover {
    color: rgb(1, 133, 221);
    cursor: pointer;
}

#endpoints {
    background-color: #1c1e20;
    height: auto;
    width: auto;
    max-width: 25%;
    margin: auto;
}